doctype html

html

head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Create a poll
    
    link(rel="stylesheet" href="/css/index.css")

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js'
            language="Javascript" 
            type="text/javascript")

    script.
        if (typeof jQuery == 'undefined') {
            document.write(unescape("%3Cscript src='/js/jquery-2.2.0.min.js' type='text/javascript'%3E%3C/script%3E"));
        }

    script(src="https://www.google.com/recaptcha/api.js?onload=captchaLoaded&render=explicit" async defer)

    script(src="/js/index.js" 
            language="Javascript" 
            type="text/javascript")

body

    noscript
        div(id="no-js-warning-wrapper" class="no-js")
            div(id="no-js-warning-container")
                | It appears you are not using Javascript. Site functionality is limited. You can only select up to 4 options per poll.
    div(id="header")
        a(id="header-title" href="/") SimplePoll
    div(class="notebook-wrapper")
        div(class="notebook")
            form(id="poll-form" action="/" method="post")
                input(type="hidden", name="_csrf", value=_csrf)
                div(id="choices-container")
                    input(type="text" name="question" id="question" placeholder="Enter your question..." autocomplete="off" required="required" pattern=".*\S+.*")

                    div(class="new-line")
                    
                    input(type="text" name="choices" placeholder="Enter an option..." autocomplete="off" required="required" pattern=".*\S+.*")    

                    input(type="text" name="choices" placeholder="Enter an option..." autocomplete="off" required="required" pattern=".*\S+.*")

                div(class="question-options")
                    select(name="poll_type")
                        option(value="0" selected="selected") Single Selection
                        option(value="1") Multi Selection
                //- div(class="question-options")
                    select
                        option(value="vote_once" selected="selected") Vote once
                        option(value="vote_many") Vote many times
                //- {% if blocked %}
                     input(type='hidden' id="blocked")
                //- {% endif %}
                //- div(class="g-recaptcha")
                input(type="Submit" id="submit" value="Create poll")
    div(id="popup-wrapper")
        div(id="popup-container")
            div(id="hide-button-container")
                button(id="hide-button") &#10006;
            div(id="popup-content")
            div(id="poll-url-container")
                div(id="poll-url" title="Click to redirect!")
            div(id="popup-ok-button-container")
                button(id="popup-ok-button") OK
    div(id="fade")
    div(id="footer")
        //<img src="https://www.djangoproject.com/s/img/badges/djangopowered126x54.gif" />