doctype html

html

head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title Poll Results
	
	link(rel="stylesheet" href="/css/results.css")
	
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" 
				language="Javascript" 
				type="text/javascript")

	script.
		if (typeof jQuery == 'undefined') {
			document.write(unescape("%3Cscript src='/js/jquery-2.2.0.min.js' type='text/javascript'%3E%3C/script%3E"));
		}

	script(type="text/javascript" src="https://www.google.com/jsapi")

	script(src="/js/colors.js" 
		  language="Javascript" 
		  type="text/javascript")

	script(src="/js/throttledresize.js"
		  language="Javascript" 
		  type="text/javascript")

	script(src="/js/results.js" 
		  language="Javascript" 
		  type="text/javascript")

body
	noscript
		div(id="no-js-warning-wrapper" class="no-js")
			div(id="no-js-warning-container")
				| It appears you are not using Javascript. Site functionality is limited. You will not be able to see a graph representation for the results.

	div(id="header")
		a(id="header-title" href="/") SimplePoll
	div(class="notebook-wrapper")
		div(id="choices-data-container" class="notebook")
			div(class="question")= poll.question
			div(class="new-line")
			- function add(a, b) {
			-		return a + b;
			-	}
			- var sum = poll.votes.reduce(add, 0);
			each value, index in poll.choices
				- var percentage = (sum > 0) ? poll.votes[index] / sum * 100 : 0;
				- var vote_s = (poll.votes[index] != 1)? 'votes' : 'vote';
				div(class='entry')
					div(class="choice" value=value)= value
					div(class="meter-container")
						div(class="meter")
							div(class="bar" style="width: " + percentage +"%")
						div(class="votes" value=poll.votes[index]) #{poll.votes[index]} #{vote_s} #{percentage.toFixed(2)}%

		div(id="chart-data-container" class="notebook")
			div(id="chart-title") #{poll.question } (Graph)
			div(id="chart-wrapper")
				div(id="chart")
	div(id="footer")
		//- <!-- <img src="https://www.djangoproject.com/s/img/badges/djangopowered126x54.gif" /> -->
