doctype html

html
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title Vote for #{poll.question}
	
	link(rel="stylesheet" href="/css/vote.css")

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" 
				language="Javascript" 
				type="text/javascript")

	script.
		if (typeof jQuery == 'undefined') {
			document.write(unescape("%3Cscript src='/js/jquery-2.2.0.min.js' type='text/javascript'%3E%3C/script%3E"));
		}

	script(src="https://www.google.com/recaptcha/api.js?onload=captchaLoaded&render=explicit" async defer)

	script(src="/js/vote.js" 
			language="Javascript" 
			type="text/javascript")

body
	noscript
		div(id="no-js-warning-wrapper" class="no-js")
			div(id="no-js-warning-container")
				| It appears you are not using Javascript. Site functionality is limited. To vote please select one (single-choice) or more (multi-choice) options to proceed.
	div(id="header")
		a(id="header-title" href="/") SimplePoll

	div(class="notebook-wrapper")
		div(class="notebook")
			form(id="vote-form" action='/' + poll.id method="post")
				input(type="hidden", name="_csrf", value=_csrf)
				div(class="question" id=poll.id)= poll.question
				div(class="question-type") #{poll.getPollTypeText()}
				div(class="new-line")
				if (poll.type ==  poll.TYPE_MULTI)
					div(class="checkbox")
						each val, index in poll.choices
							div(class="entry")
								input(type="checkbox" name="choices" id=index value=index)
								label(for=index)= val
				else
					div(class="radio")
						each val, index in poll.choices
							div(class="entry")
								input(type="radio" name="choices" id=index value=index)
								label(for=index)= val
				
				//- {% if not blocked %}
				div(class="new-line")
				//- {% endif %}
				//- {% if blocked and can_vote %}
					<input type='hidden' id="blocked" />
				//- {% endif %}
				//- <div class="g-recaptcha"></div>
				div(id="submit-div")
					input(type="Submit" value="Vote")
					div(id="space-submit")
					a(id="results-button" value="Results" href="/" + poll.id +"/results") Results
				//- {% if not can_vote %}
				//- <div class="message">You have already voted!</div>
				//- {% endif %}

	div(id="popup-wrapper")
		div(id="popup-container")
			div(id="popup-content")
			div(id="popup-ok-button-container")
				button(id="popup-ok-button") OK
	div(id="fade")
	div(id="footer")
		//- <!-- <img src="https://www.djangoproject.com/s/img/badges/djangopowered126x54.gif" /> -->