@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&subset=latin,latin-ext);
body {
  margin: 0;
  background: #e6e4e4; }

#header {
  width: 100%;
  text-align: center; }
  #header #header-title {
    color: #595959;
    cursor: pointer;
    text-decoration: none;
    font-family: "Shadows Into Light Two", "Century Gothic", "Arial Narrow", sans-serif, serif;
    letter-spacing: 2px;
    letter-spacing: 0.125rem;
    font-size: 70px;
    font-size: 4.375rem;
    font-weight: bold; }
  #header #header-title:visited {
    color: #595959; }

#no-js-warning-wrapper {
  width: 100%;
  background-color: #ff3333;
  color: #f6f6f3;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem; }
  #no-js-warning-wrapper #no-js-warning-container {
    display: inline-block;
    text-align: left; }

#footer {
  position: fixed;
  width: 100%;
  text-align: right;
  background-color: #e6e4e4;
  bottom: 0; }

.notebook-wrapper {
  width: 100%;
  text-align: center; }

.notebook {
  /*max-width: 45%;*/
  /*min-width: 400px;*/
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  margin-top: 20px;
  margin-top: 1.25rem;
  margin-left: 20px;
  margin-left: 1.25rem;
  text-align: left;
  word-wrap: break-word;
  color: #777;
  background: #f6f6f3;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.08);
  position: relative;
  border: 1px solid #dfdfd3;
  border: 0.0625rem solid #dfdfd3;
  border-radius: 6px 24px 24px 6px;
  border-radius: 0.375rem 1.5rem 1.5rem 0.375rem;
  background-image: -webkit-radial-gradient(#d6d5d6 30%, transparent 20%), -webkit-radial-gradient(#cfcfc3 38%, transparent 24%), -webkit-linear-gradient(top, transparent 0%, transparent 95%, rgba(32, 223, 223, 0.1) 95%, rgba(32, 223, 223, 0.1) 100%);
  background-image: -moz-radial-gradient(#d6d5d6 30%, transparent 20%), -moz-radial-gradient(#cfcfc3 38%, transparent 24%), -moz-linear-gradient(top, transparent 0%, transparent 95%, rgba(32, 223, 223, 0.1) 95%, rgba(32, 223, 223, 0.1) 100%);
  background-image: radial-gradient(#d6d5d6 30%, transparent 20%), radial-gradient(#cfcfc3 38%, transparent 24%), linear-gradient(top, transparent 0%, transparent 95%, rgba(32, 223, 223, 0.1) 95%, rgba(32, 223, 223, 0.1) 100%);
  background-position: 4px 1px, 4px 0, 50% 0;
  background-position: 0.25rem 0.0625rem, 0.25rem 0, 50% 0;
  background-repeat: repeat-y,  repeat-y, repeat;
  background-size: 40px 40px, 40px 40px, 40px 40px;
  background-size: 2.5rem 2.5rem, 2.5rem 2.5rem, 2.5rem 2.5rem;
  padding: 40px 10px 48px 80px;
  padding: 2.5rem 0.625rem 3rem 5rem; }
  .notebook .question {
    font-family: "Shadows Into Light Two", "Century Gothic", "Arial Narrow", sans-serif, serif;
    letter-spacing: -1px;
    letter-spacing: -0.0625rem;
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 40px;
    line-height: 2.5rem;
    font-weight: bold; }
  .notebook .choice {
    font-family: "Shadows Into Light Two", "Century Gothic", "Arial Narrow", sans-serif, serif;
    letter-spacing: -1px;
    letter-spacing: -0.0625rem;
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 40px;
    line-height: 2.5rem; }
  .notebook .new-line {
    height: 40px;
    height: 2.5rem; }
  .notebook:after {
    border-left: 2px solid rgba(249, 6, 6, 0.1);
    border-left: 0.125rem solid rgba(249, 6, 6, 0.1);
    border-right: 2px solid rgba(249, 6, 6, 0.1);
    border-right: 0.125rem solid rgba(249, 6, 6, 0.1);
    bottom: 0;
    content: '';
    left: 60px;
    left: 3.75rem;
    position: absolute;
    top: 0;
    width: 3px;
    width: 0.1875rem; }

.notebook {
  width: 45%;
  min-width: 400px;
  min-width: 25rem;
  vertical-align: top; }

.notebook .meter-container {
  height: 40px;
  height: 2.5rem;
  overflow: hidden;
  white-space: nowrap;
  width: 100%; }
  .notebook .meter-container .meter {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 50%;
    height: 13.33333px;
    height: 0.83333rem;
    margin-top: 13.33333px;
    margin-top: 0.83333rem;
    border: 1px solid #777;
    border: 0.0625rem solid #777;
    border-radius: 2px;
    border-radius: 0.125rem; }
    .notebook .meter-container .meter .bar {
      height: 13.33333px;
      height: 0.83333rem;
      border-radius: 1px;
      border-radius: 0.0625rem;
      background-color: #777; }
  .notebook .meter-container .votes {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-left: 0.625rem;
    color: #595959;
    font-family: "Shadows Into Light Two", "Century Gothic", "Arial Narrow", sans-serif, serif;
    letter-spacing: -1px;
    letter-spacing: -0.0625rem;
    margin-top: 8px;
    margin-top: 0.5rem;
    font-size: 20px;
    font-size: 1.25rem; }

#chart-data-container {
  display: none; }
  #chart-data-container #chart-title {
    text-align: center;
    font-family: "Shadows Into Light Two", "Century Gothic", "Arial Narrow", sans-serif, serif;
    letter-spacing: -1px;
    letter-spacing: -0.0625rem;
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 40px;
    line-height: 2.5rem;
    font-weight: bold; }
  #chart-data-container #chart-wrapper {
    margin-top: 20px;
    margin-top: 1.25rem;
    position: relative;
    padding-bottom: 350px;
    padding-bottom: 21.875rem;
    height: 0;
    overflow: hidden; }
    #chart-data-container #chart-wrapper #chart {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      width: 100%;
      height: 100%;
      max-width: 350px;
      max-width: 21.875rem;
      max-height: 350px;
      max-height: 21.875rem; }

/*For mobile */
/*For mobile */
@media only screen and (-webkit-device-pixel-ratio: 3) {
  body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }
  .notebook {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    display: block;
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-left: 0;
    border-radius: 6px 14px 14px 6px;
    border-radius: 0.375rem 0.875rem 0.875rem 0.375rem;
    background-size: 30px 30px, 30px 30px, 30px 30px;
    background-size: 1.875rem 1.875rem, 1.875rem 1.875rem, 1.875rem 1.875rem;
    padding: 30px 10px 48px 80px;
    padding: 1.875rem 0.625rem 3rem 5rem; }
    .notebook .question {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 30px;
      line-height: 1.875rem;
      font-weight: bold; }
    .notebook .choice {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 30px;
      line-height: 1.875rem; }
    .notebook .new-line {
      height: 30px;
      height: 1.875rem; } }

@media only screen and (-webkit-device-pixel-ratio: 3) {
  .notebook .meter-container {
    height: 30px;
    height: 1.875rem;
    width: 100%; }
    .notebook .meter-container .meter {
      height: 10px;
      height: 0.625rem;
      margin-top: 10px;
      margin-top: 0.625rem; }
      .notebook .meter-container .meter .bar {
        height: 10px;
        height: 0.625rem;
        border-radius: 0px;
        border-radius: 0rem; }
    .notebook .meter-container .votes {
      font-size: 15px;
      font-size: 0.9375rem;
      margin-top: 6px;
      margin-top: 0.375rem; }
  #chart-data-container #chart-title {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 30px;
    line-height: 1.875rem;
    font-weight: bold; } }

/* Portrait mode */
/* Landscape mode */
@media only screen and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  #chart {
    width: 250px;
    width: 15.625rem;
    height: 250px;
    height: 15.625rem; } }
