@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&subset=latin,latin-ext);
body {
  margin: 0;
  background: #e6e4e4; }

#header {
  width: 100%;
  text-align: center; }
  #header #header-title {
    color: #595959;
    cursor: pointer;
    text-decoration: none;
    font-family: "Shadows Into Light Two", "Century Gothic", "Arial Narrow", sans-serif, serif;
    letter-spacing: 2px;
    letter-spacing: 0.125rem;
    font-size: 70px;
    font-size: 4.375rem;
    font-weight: bold; }
  #header #header-title:visited {
    color: #595959; }

#no-js-warning-wrapper {
  width: 100%;
  background-color: #ff3333;
  color: #f6f6f3;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem; }
  #no-js-warning-wrapper #no-js-warning-container {
    display: inline-block;
    text-align: left; }

#footer {
  position: fixed;
  width: 100%;
  text-align: right;
  background-color: #e6e4e4;
  bottom: 0; }

.notebook-wrapper {
  width: 100%;
  text-align: center; }

.notebook {
  /*max-width: 45%;*/
  /*min-width: 400px;*/
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  margin-top: 20px;
  margin-top: 1.25rem;
  margin-left: 20px;
  margin-left: 1.25rem;
  text-align: left;
  word-wrap: break-word;
  color: #777;
  background: #f6f6f3;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.08);
  position: relative;
  border: 1px solid #dfdfd3;
  border: 0.0625rem solid #dfdfd3;
  border-radius: 6px 24px 24px 6px;
  border-radius: 0.375rem 1.5rem 1.5rem 0.375rem;
  background-image: -webkit-radial-gradient(#d6d5d6 30%, transparent 20%), -webkit-radial-gradient(#cfcfc3 38%, transparent 24%), -webkit-linear-gradient(top, transparent 0%, transparent 95%, rgba(32, 223, 223, 0.1) 95%, rgba(32, 223, 223, 0.1) 100%);
  background-image: -moz-radial-gradient(#d6d5d6 30%, transparent 20%), -moz-radial-gradient(#cfcfc3 38%, transparent 24%), -moz-linear-gradient(top, transparent 0%, transparent 95%, rgba(32, 223, 223, 0.1) 95%, rgba(32, 223, 223, 0.1) 100%);
  background-image: radial-gradient(#d6d5d6 30%, transparent 20%), radial-gradient(#cfcfc3 38%, transparent 24%), linear-gradient(top, transparent 0%, transparent 95%, rgba(32, 223, 223, 0.1) 95%, rgba(32, 223, 223, 0.1) 100%);
  background-position: 4px 1px, 4px 0, 50% 0;
  background-position: 0.25rem 0.0625rem, 0.25rem 0, 50% 0;
  background-repeat: repeat-y,  repeat-y, repeat;
  background-size: 40px 40px, 40px 40px, 40px 40px;
  background-size: 2.5rem 2.5rem, 2.5rem 2.5rem, 2.5rem 2.5rem;
  padding: 40px 10px 48px 80px;
  padding: 2.5rem 0.625rem 3rem 5rem; }
  .notebook .question {
    font-family: "Shadows Into Light Two", "Century Gothic", "Arial Narrow", sans-serif, serif;
    letter-spacing: -1px;
    letter-spacing: -0.0625rem;
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 40px;
    line-height: 2.5rem;
    font-weight: bold; }
  .notebook .choice {
    font-family: "Shadows Into Light Two", "Century Gothic", "Arial Narrow", sans-serif, serif;
    letter-spacing: -1px;
    letter-spacing: -0.0625rem;
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 40px;
    line-height: 2.5rem; }
  .notebook .new-line {
    height: 40px;
    height: 2.5rem; }
  .notebook:after {
    border-left: 2px solid rgba(249, 6, 6, 0.1);
    border-left: 0.125rem solid rgba(249, 6, 6, 0.1);
    border-right: 2px solid rgba(249, 6, 6, 0.1);
    border-right: 0.125rem solid rgba(249, 6, 6, 0.1);
    bottom: 0;
    content: '';
    left: 60px;
    left: 3.75rem;
    position: absolute;
    top: 0;
    width: 3px;
    width: 0.1875rem; }

#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1001;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70); }

#popup-wrapper {
  display: none;
  width: 100%;
  position: absolute;
  overflow: visible;
  z-index: 9000;
  top: 0%;
  left: 0%;
  text-align: center;
  margin-top: 200px;
  margin-top: 12.5rem; }
  #popup-wrapper #popup-container {
    max-width: 600px;
    max-width: 37.5rem;
    display: inline-block;
    margin-top: 40px;
    margin-top: 2.5rem;
    box-sizing: border-box;
    text-align: left;
    word-wrap: break-word;
    color: #777;
    background: #f6f6f3;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.08);
    box-shadow: 0rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.08);
    position: relative;
    border: 1px solid #dfdfd3;
    border: 0.0625rem solid #dfdfd3;
    border-radius: 15px 15px 15px 15px;
    border-radius: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
    padding: 5px 20px 20px 20px;
    padding: 0.3125rem 1.25rem 1.25rem 1.25rem; }
    #popup-wrapper #popup-container #hide-button-container {
      display: none;
      text-align: right; }
      #popup-wrapper #popup-container #hide-button-container #hide-button {
        -webkit-border-radius: 15px;
        -webkit-border-radius: 0.9375rem;
        border-radius: 15px;
        border-radius: 0.9375rem;
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 20px;
        line-height: 1.25rem; }
    #popup-wrapper #popup-container #popup-content {
      display: block;
      word-wrap: break-word;
      margin-top: 10px;
      margin-top: 0.625rem;
      font-family: "Shadows Into Light Two", "Century Gothic", "Arial Narrow", sans-serif, serif;
      letter-spacing: -1px;
      letter-spacing: -0.0625rem;
      font-size: 25px;
      font-size: 1.5625rem;
      line-height: 40px;
      line-height: 2.5rem; }
    #popup-wrapper #popup-container #poll-url-container {
      margin-top: 10px;
      margin-top: 0.625rem;
      text-align: center;
      display: none; }
      #popup-wrapper #popup-container #poll-url-container #poll-url {
        cursor: pointer;
        padding: 2px 18px 2px 18px;
        padding: 0.125rem 1.125rem 0.125rem 1.125rem;
        color: #B20000;
        font-family: "Shadows Into Light Two", "Century Gothic", "Arial Narrow", sans-serif, serif;
        letter-spacing: -1px;
        letter-spacing: -0.0625rem;
        font-size: 25px;
        font-size: 1.5625rem;
        line-height: 40px;
        line-height: 2.5rem; }
        #popup-wrapper #popup-container #poll-url-container #poll-url:hover:not(:active) {
          border: 1px solid #777;
          border: 0.0625rem solid #777;
          padding: 1px 19px 1px 19px;
          padding: 0.0625rem 1.1875rem 0.0625rem 1.1875rem; }
        #popup-wrapper #popup-container #poll-url-container #poll-url:active {
          border: 2px solid #777;
          border: 0.125rem solid #777;
          padding: 0px 20px 0 20px;
          padding: 0rem 1.25rem 0 1.25rem; }
    #popup-wrapper #popup-container #popup-ok-button-container {
      display: none;
      margin-top: 15px;
      margin-top: 0.9375rem;
      text-align: center; }
      #popup-wrapper #popup-container #popup-ok-button-container #popup-ok-button {
        width: 100px;
        width: 6.25rem; }
    #popup-wrapper #popup-container button {
      margin-top: 5px;
      margin-top: 0.3125rem;
      display: inline-block;
      outline: none;
      vertical-align: top;
      background-color: #cecaca;
      cursor: pointer;
      font-family: "Shadows Into Light Two", "Century Gothic", "Arial Narrow", sans-serif, serif;
      letter-spacing: -1px;
      letter-spacing: -0.0625rem;
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 26.66667px;
      line-height: 1.66667rem;
      border: 2px solid #777;
      border: 0.125rem solid #777;
      -webkit-border-radius: 5px;
      -webkit-border-radius: 0.3125rem;
      border-radius: 5px;
      border-radius: 0.3125rem; }
      #popup-wrapper #popup-container button:hover:not(:active) {
        background-color: #777;
        color: #f6f6f3; }
      #popup-wrapper #popup-container button:active {
        background: #4d4d4d;
        color: #f6f6f3;
        border: 2px solid #4d4d4d;
        border: 0.125rem solid #4d4d4d; }

.notebook {
  min-width: 500px;
  min-width: 31.25rem;
  max-width: 70%; }
  .notebook .question-type {
    font-family: "Shadows Into Light Two", "Century Gothic", "Arial Narrow", sans-serif, serif;
    letter-spacing: -1px;
    letter-spacing: -0.0625rem;
    font-size: 25px;
    font-size: 1.5625rem;
    line-height: 40px;
    line-height: 2.5rem; }
  .notebook label {
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    padding-left: 2.1875rem;
    font-family: "Shadows Into Light Two", "Century Gothic", "Arial Narrow", sans-serif, serif;
    letter-spacing: -1px;
    letter-spacing: -0.0625rem;
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 40px;
    line-height: 2.5rem; }
  .notebook input[type=radio],
  .notebook input[type=checkbox] {
    display: none; }
  .notebook label:before {
    content: "";
    display: inline-block;
    width: 20px;
    width: 1.25rem;
    height: 20px;
    height: 1.25rem;
    margin-right: 10px;
    margin-right: 0.625rem;
    position: absolute;
    left: 0;
    align-vertical: top;
    margin-top: 13.33333px;
    margin-top: 0.83333rem;
    background-color: #cecaca; }
  .notebook .radio label:before {
    border-radius: 3px;
    border-radius: 0.1875rem; }
  .notebook .checkbox label:before {
    border-radius: 3px;
    border-radius: 0.1875rem; }
  .notebook input[type=radio]:checked + label:before {
    content: "\2713";
    font-family: "Shadows Into Light Two", "Century Gothic", "Arial Narrow", sans-serif, serif;
    letter-spacing: -1px;
    letter-spacing: -0.0625rem;
    font-size: 40px;
    font-size: 2.5rem;
    color: #777;
    text-align: center;
    line-height: 10px;
    line-height: 0.625rem; }
  .notebook input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-family: "Shadows Into Light Two", "Century Gothic", "Arial Narrow", sans-serif, serif;
    letter-spacing: -1px;
    letter-spacing: -0.0625rem;
    font-size: 40px;
    font-size: 2.5rem;
    color: #777;
    text-align: center;
    line-height: 10px;
    line-height: 0.625rem; }
  .notebook #vote-comment {
    display: none; }
  .notebook .g-recaptcha {
    display: none;
    margin-top: 11px;
    margin-top: 0.6875rem;
    margin-bottom: 11px;
    margin-bottom: 0.6875rem; }
  .notebook #submit-div {
    height: 40px;
    height: 2.5rem; }
  .notebook #results-button, .notebook #results-button:visited,
  .notebook input[type=submit] {
    width: 100px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    color: black;
    background-color: #cecaca;
    cursor: pointer;
    font-family: "Shadows Into Light Two", "Century Gothic", "Arial Narrow", sans-serif, serif;
    letter-spacing: -1px;
    letter-spacing: -0.0625rem;
    font-size: 20px;
    font-size: 1.25rem;
    border: 2px solid #777;
    border: 0.125rem solid #777;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 0.3125rem;
    border-radius: 5px;
    border-radius: 0.3125rem; }
  .notebook #results-button:hover:not(:active),
  .notebook input[type=submit]:hover:enabled:not(:active) {
    background-color: #777;
    color: #f6f6f3; }
  .notebook #results-button:active,
  .notebook input[type=submit]:active:enabled {
    background: #4d4d4d;
    color: #f6f6f3;
    border: 2px solid #4d4d4d;
    border: 0.125rem solid #4d4d4d; }
  .notebook #results-button {
    text-align: center;
    text-decoration: none;
    padding: 1px;
    padding: 0.0625rem; }
  .notebook input[type=submit]:disabled {
    border: 2px solid #cecaca;
    border: 0.125rem solid #cecaca; }
  .notebook #space-submit {
    width: 20px;
    width: 1.25rem;
    display: inline-block; }
  .notebook .message {
    font-family: "Shadows Into Light Two", "Century Gothic", "Arial Narrow", sans-serif, serif;
    letter-spacing: -1px;
    letter-spacing: -0.0625rem;
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 40px;
    line-height: 2.5rem; }

/* For mobile */
/*For mobile */
@media only screen and (-webkit-device-pixel-ratio: 3) {
  body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }
  .notebook {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    display: block;
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-left: 0;
    border-radius: 6px 14px 14px 6px;
    border-radius: 0.375rem 0.875rem 0.875rem 0.375rem;
    background-size: 30px 30px, 30px 30px, 30px 30px;
    background-size: 1.875rem 1.875rem, 1.875rem 1.875rem, 1.875rem 1.875rem;
    padding: 30px 10px 48px 80px;
    padding: 1.875rem 0.625rem 3rem 5rem; }
    .notebook .question {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 30px;
      line-height: 1.875rem;
      font-weight: bold; }
    .notebook .choice {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 30px;
      line-height: 1.875rem; }
    .notebook .new-line {
      height: 30px;
      height: 1.875rem; } }

/* For mobile */
@media only screen and (-webkit-device-pixel-ratio: 3) {
  #popup-wrapper {
    margin-top: 150px;
    margin-top: 9.375rem; }
    #popup-wrapper #popup-container {
      padding: 3px 12px 12px 12px;
      padding: 0.1875rem 0.75rem 0.75rem 0.75rem; }
      #popup-wrapper #popup-container #hide-button-container #hide-button {
        font-size: 10px;
        font-size: 0.625rem;
        line-height: 10px;
        line-height: 0.625rem; }
      #popup-wrapper #popup-container #popup-content {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 20px;
        line-height: 1.25rem; }
      #popup-wrapper #popup-container #poll-url-container #poll-url {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 30px;
        line-height: 1.875rem; }
      #popup-wrapper #popup-container #popup-ok-button {
        width: 80px;
        width: 5rem; }
      #popup-wrapper #popup-container button {
        height: 22.5px;
        height: 1.40625rem;
        margin-top: 5px;
        margin-top: 0.3125rem;
        border: 1px solid #777;
        border: 0.0625rem solid #777;
        font-size: 15px;
        font-size: 0.9375rem;
        line-height: 15px;
        line-height: 0.9375rem; } }

/* Portrait mode */
@media only screen and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  #popup-wrapper {
    margin-top: 150px;
    margin-top: 9.375rem; }
    #popup-wrapper #popup-container {
      width: 100%; } }

/* Landscape mode */
@media only screen and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  #popup-wrapper {
    margin-top: 50px;
    margin-top: 3.125rem; } }

@media only screen and (-webkit-device-pixel-ratio: 3) {
  .notebook .question-type {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 30px;
    line-height: 1.875rem; }
  .notebook label {
    padding-left: 25px;
    padding-left: 1.5625rem;
    margin-right: 15px;
    margin-right: 0.9375rem;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 30px;
    line-height: 1.875rem; }
  .notebook label:before {
    width: 15px;
    width: 0.9375rem;
    height: 15px;
    height: 0.9375rem;
    margin-top: 8px;
    margin-top: 0.5rem; }
  .notebook input[type=radio]:checked + label:before {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 5px;
    line-height: 0.3125rem; }
  .notebook input[type=checkbox]:checked + label:before {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 5px;
    line-height: 0.3125rem; }
  .notebook #submit-div {
    height: 30px;
    height: 1.875rem; }
  .notebook #results-button,
  .notebook input[type=submit] {
    width: 80px;
    width: 5rem;
    border: 1px solid #777;
    border: 0.0625rem solid #777;
    font-size: 15px;
    font-size: 0.9375rem; }
  .notebook input[type=submit]:disabled {
    border: 1px solid #cecaca;
    border: 0.0625rem solid #cecaca; }
  .notebook #results-button {
    padding: 0;
    height: 25px;
    height: 1.5625rem; }
  .notebook #space-submit {
    width: 20px;
    width: 1.25rem;
    display: inline-block; }
  .notebook .message {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 30px;
    line-height: 1.875rem; } }

/* Portrait mode */
/* Landscape mode */
