/* For mobile */
@media only screen 
    and (-webkit-device-pixel-ratio:3) {

    #popup-wrapper {
        @include rem(margin-top, 150px);

        #popup-container {
            @include rem(padding, 3px 12px 12px 12px);


            #hide-button-container #hide-button {
                @include rem(font-size, $mini-size/3);
                @include rem(line-height, $mini-size/3);
            }

            #popup-content {
                @include rem(font-size, $mini-secondary-size);
                @include rem(line-height, $mini-secondary-size);
            }

            #poll-url-container #poll-url {
                @include rem(font-size, $mini-secondary-size);
                @include rem(line-height, $mini-size);
            }

            #popup-ok-button {
                @include rem(width, 80px);
            }

            button {
                @include rem(height, $mini-size - ($mini-size/4));
                @include rem(margin-top, 5px);
                @include rem(border, 1px solid $main-color);
                @include rem(font-size, $mini-font-size/2);
                @include rem(line-height, $mini-size/2);
            }
        }
    }
}

/* Portrait mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: portrait) {

    #popup-wrapper{
        @include rem(margin-top, 150px);      

        #popup-container {
            width: 100%;
        }
    }
}

/* Landscape mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: landscape) {

    #popup-wrapper{
        @include rem(margin-top, 50px);
    }
}