@import "commons"; // This contains fonts colors and rem.

.notebook {
    width: 45%;
    @include rem(min-width, 400px);
    vertical-align: top;
}


.notebook .meter-container {
    @include rem(height, $default-size);
    overflow: hidden;
    white-space: nowrap;
    // display: inline-block;   This causes .entry to be higher than its contents sum height
    width: 100%;
    .meter {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 50%;
        @include rem(height, $default-size/3);
        @include rem(margin-top, $default-size/3);
        @include rem(border, 1px solid $main-color);
        @include rem(border-radius, 2px);

        .bar {
            @include rem(height, $default-size/3);
            @include rem(border-radius, 1px);
            background-color: $main-color;
        }
    }

    .votes {
        display: inline-block;
        vertical-align: top;
        @include rem(margin-left, 10px);
        color: #595959;
        font-family: $main-font;
        @include rem(letter-spacing, $default-letter-spacing);
        @include rem(margin-top, $default-size/5);
        @include rem(font-size, $default-font-size/2);
    }
}

#chart-data-container {
    display: none;

    #chart-title {
        text-align: center;
        font-family: $main-font;
        @include rem(letter-spacing, $default-letter-spacing);
        @include rem(font-size, $default-font-size);
        @include rem(line-height, $default-size);
        font-weight: bold;
    }

    #chart-wrapper{
        @include rem(margin-top, 20px);
        position: relative;
        @include rem(padding-bottom, 350px);
        height: 0;
        overflow:hidden;

        #chart {
            position: absolute;
            top: 0;
            left: 50%;
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            width:100%;
            height:100%;
            @include rem(max-width, 350px);
            @include rem(max-height, 350px);
        }
    }
}


/*For mobile */

@import "commons-media";

@media only screen 
    and (-webkit-device-pixel-ratio:3) {

    .notebook .meter-container {
        @include rem(height, $mini-size);
        width: 100%;

        .meter {
            @include rem(height, $mini-size/3);
            @include rem(margin-top, $mini-size/3);
            
            .bar {
                @include rem(height, $mini-size/3);
                @include rem(border-radius, 0px);
            }
        }

        .votes {
            @include rem(font-size, $mini-font-size/2);
            @include rem(margin-top, $mini-size/5);
        }
    }

    #chart-data-container {
        #chart-title {
            @include rem(font-size, $mini-font-size);
            @include rem(line-height, $mini-size);
            font-weight: bold;
        }
    }
}

/* Portrait mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: portrait) {

    

}

/* Landscape mode */
@media only screen 
    and (-webkit-device-pixel-ratio:3) 
    and (orientation: landscape) {

    #chart {
        @include rem(width, 250px);
        @include rem(height, 250px);
    }

}
